body{
    
    /* background-image: url("../img/piqsels.com-id-zwsqq.jpg");*/
    background-color: black;
    background-size: 100%;
    background-attachment: fixed;
    margin-bottom: 3%;
}

.icon{
    background-image: url("../img/idea.png");
    height: 35px;
    width: 35px;
    background-size: 35px;
 }
 

/* .jmb-home{
    background-image: url("../img/ses.png");
    width: 75%;
    margin: auto;
    background-attachment: fixed;
    margin-top: 3%;
    background-size: 90%;
     background-color: #626260; 
    background-repeat: no-repeat;
} */


.nml-20{
    margin-left: -20px;
}

.pl-14{
    margin-left:19%;
}

.bg-pink{
    background-color: #000000;   
}

.bg-salmon{
    background-color: #2a2a2a;
}

.bg-peach{
    background-color: #808080;
}

.bg-purple{
    background-color: #dadad2;
}

.cont-center{
    height: 100%;
    width: 60%;
    margin-left: 20%
}

.mx-w-50{
   max-width: 50%;
}

.mx-w-80p{
    max-width: 80%;
 }

 .bg-jmb{
 background-color: #626260;
 }

 .mt-6p{
     margin-top: 6%;
 }

 .mt-5p{
    margin-top: 5%;
}

 .tmp-jbm{
     display: inline-flex;
 }

.a-link{
    color:#66baff ;
 }

.a-link:hover{
    color:#afd5f5 ;
 
 }