body{
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 3%;
    background-image: url("../img/bg-principal.jpg");
}

.icon{
    background-image: url("../img/idea.png");
    height: 35px;
    width: 35px;
    background-size: 35px;
}

.nml-20{
    margin-left: -45px;
}

.pl-14{
    margin-left:19%;
}

.bg-black{
    background-color: #000000;   
}

.bg-dark-grey{
    background-color: #2a2a2a;
}

.bg-grey{
    background-color: #808080;
}

.bg-bone{
    background-color: #dadad2;
}

.cont-center{
    height: 100%;
    width: 60%;
    margin-left: 20%
}

.mx-w-50{
    max-width: 50%;
}

.mx-w-80p{
    max-width: 80%;
}

.bg-jmb{
    background-color: #626260;
}

.mt-6p{
    margin-top: 6%;
}

.mt-5p{
    margin-top: 5%;
}

.tmp-jbm{
    display: inline-flex;
}

.a-link{
    color:#66baff ;
}

.a-link:hover{
    color:#afd5f5 ;
}

.pl-0{
    padding-left: 0;
}

.list-style-none{
    list-style: none;
}

@media screen and (max-width:690px) {
    .navbar-toggler {

        background-color: rgb(104, 104, 104);

        margin-left: 50%;
    }
}

@media screen and (min-width: 691px) and (max-width:1099px) {
    .navbar-toggler {

        background-color: rgb(104, 104, 104);

        margin-left: 50%;
    }
}

